---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 140
---
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: InlineOnly
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: false
PointerAlignment: Left
BreakConstructorInitializers: BeforeComma
...
